.idea
*.iws
*.ipr
*.iml
/out/
.idea_modules/

venv/
*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

data/
splits/
snapshots/
worldcities/
*.zip
eda/.ipynb_checkpoints/